# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp
*RDataTmp*

# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store


# Data Files (ignore large shapefile folders)
/Flowshed_Modeling_InputData/BowtieFractions_Jan10
/Flowshed_Modeling_InputData/Concave_BowBenthic_14days_26april2024
/Flowshed_Modeling_InputData/Florida_Shoreline_(1_to_12%2C000_Scale)
/Flowshed_Modeling_InputData/Florida_Shoreline_(1_to_40%2C000_Scale)
/Flowshed_Modeling_InputData/mesh_florida
/Flowshed_Modeling_InputData/yearBows_22april2024
/Flowshed_Modeling_InputData/bow_ties_shp_extended_tri_ALL

# Ignore Figure writing folder
/Flowshed_Modeling_figures

# Never allow shapefiles
*.dbf
*.prj
*.shx
*.shp

# No .gdb files (including Florida's Unified Reef Map)
*.gdb
/Flowshed_Modeling_InputData/FWC_UnifiedFloridaReefMap_v2.0.gdb

# Ignore larger .csv files (specify which ones)
/Flowshed_Modeling_InputData/CCfractions_fix.csv
/Flowshed_Modeling_InputData/CCmodelDF_April26.csv

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
